@import "../../assets/scss/variables.scss";

// wrapper
.wrapper {
  position: relative;

  margin-top: 60px;
  border-radius: 4px;
  padding: 30px;

  background-color: $color-white;
  box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.05);
}

// heading
.heading {
  font-size: 28px;

  margin: 0 0 1em 0;
}

// total
.total {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  color: $color-success;

  margin-top: 15px;
}

// submit
.cta_submit {
  text-align: right;

  margin-top: 15px;
}

// invoice summary
.invoice_summary {
  overflow: hidden;
  margin: 30px 0;

  &_inner {
    overflow-x: scroll;
  }
}

// form
.xero_form {
  &_fields {
    display: grid;

    column-gap: 15px;

    @media (min-width: 768px) {
      grid-template-columns: 2fr 1fr 1fr 1fr;
    }
  }

  &_field {
    position: relative;

    margin-bottom: 15px;

    input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
      font-size: 16px;

      width: 100%;
      height: 40px;
      margin: 0;
      border: 2px solid $color-light-gray;
      border-radius: 4px;
      padding: 0 12px;

      transition: border-color 250ms;

      appearance: none;
    }

    &_label {
      font-size: 14px;
      font-weight: bold;

      display: block;
      margin-bottom: 4px;
    }

    &_error_message {
      font-size: 12px;
      font-size: 14px;
      color: $color-danger;

      display: block;
      margin-top: 4px;
    }
  }

  &_field_error {
    input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
      border-color: $color-danger;
    }
  }

  &_field_no_label {
    margin-top: 23px;
  }
}
