@import "../../../assets/scss/variables.scss";

.btn {
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;

  display: inline-block;
  height: 38px;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 4px 15px;

  cursor: pointer;

  // primary
  &_primary {
    color: $color-white;

    background-color: $color-primary;
  }

  // success
  &_success {
    color: $color-white;

    background-color: $color-success;
  }

  // full width
  &_fw {
    display: block;
    width: 100%;
  }

  &:disabled {
    opacity: 0.5;

    cursor: not-allowed;
  }
}
