@import "../../assets/scss/variables.scss";

.wrapper {
  padding: 15px 30px;

  background-color: $color-white;
  box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.05);
}

.brand {
  width: 50px;
  height: 50px;
}
