@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import "./assets/scss/variables.scss";

/**
 * Global
 */
:root {
  font-size: 16px;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  font-family: "Nunito Sans", sans-serif;

  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: $color-black;

  overflow: hidden;
  overflow-y: auto;
  margin: 0;

  background-color: $color-subtle-gray;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  max-width: 100%;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;

  td,
  th {
    padding: 8px 12px;
  }

  th {
    text-align: left;
    background-color: $color-black;
    color: white;
  }

  td {
    &.td_no_data {
      text-align: center;
    }
  }

  tr:nth-child(even) {
    background-color: $color-light-gray;
  }
}

.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}
